// SPDX-License-Identifier: GPL-2.0+ OR MIT
/*
 * Apple Mac Studio (M3 Ultra, 2025)
 *
 * target-type: J575d
 *
 * Copyright The Asahi Linux Contributors
 */

/dts-v1/;

#include "t6032.dtsi"

/ {
	compatible = "apple,j575d", "apple,t6032", "apple,arm-platform";
	model = "Apple Mac Studio (M3 Ultra, 2025)";

	aliases {
		serial0 = &serial0;
	};

	chosen {
		#address-cells = <2>;
		#size-cells = <2>;
		ranges;

		stdout-path = "serial0";

		framebuffer0: framebuffer@0 {
			compatible = "apple,simple-framebuffer", "simple-framebuffer";
			reg = <0 0 0 0>; /* To be filled by loader */
			/* Format properties will be added by loader */
			status = "disabled";
			power-domains = <&ps_dispext0_cpu>;
		};
	};

	memory@10000000000 {
		device_type = "memory";
		reg = <0x100 0 0x2 0>; /* To be filled by loader */
	};
};

&serial0 {
	status = "okay";
};

/* Audio */
&i2c1 {
	status = "okay";

	speaker: codec@38 {
		compatible = "ti,sn012776", "ti,tas2764";
		reg = <0x38>;
		shutdown-gpios = <&pinctrl_ap 28 GPIO_ACTIVE_HIGH>;
		#sound-dai-cells = <0>;
		interrupts-extended = <&pinctrl_ap 29 IRQ_TYPE_LEVEL_LOW>;
		ti,imon-slot-no = <0>;
		ti,vmon-slot-no = <2>;
	};
};

&i2c2 {
	status = "okay";

	jack_codec: codec@4b {
		compatible = "cirrus,cs42l84";
		reg = <0x4b>;
		reset-gpios = <&pinctrl_nub 58 GPIO_ACTIVE_HIGH>;
		#sound-dai-cells = <0>;
		interrupts-extended = <&pinctrl_ap 30 IRQ_TYPE_LEVEL_LOW>;
		sound-name-prefix = "Jack";
	};
};

&nco_clkref {
	clock-frequency = <900000000>;
};

/ {
	sound: sound {
		compatible = "apple,j575-macaudio", "apple,j375-macaudio", "apple,macaudio";
		model = "Mac Studio J575";

		dai-link@0 {
			link-name = "Speaker";

			cpu {
				sound-dai = <&mca 0>;
			};
			codec {
				sound-dai = <&speaker>;
			};
		};

		dai-link@1 {
			link-name = "Headphone Jack";

			cpu {
				sound-dai = <&mca 2>;
			};
			codec {
				sound-dai = <&jack_codec>;
			};
		};
	};
};

#include "spi1-nvram.dtsi"
#include "hwmon-common.dtsi"
#include "hwmon-fan-dual.dtsi"
