// SPDX-License-Identifier: GPL-2.0+ OR MIT
/*
 * Apple iMac (24-inch, 2x USB-C, M3, 2023)
 *
 * target-type: J433
 *
 * Copyright The Asahi Linux Contributors
 */

/dts-v1/;

#include "t8122.dtsi"
#include "t8122-usbpd-i2c.dtsi"
#include "t8122-jxxx.dtsi"

/ {
	compatible = "apple,j433", "apple,t8122", "apple,arm-platform";
	model = "Apple iMac (24-inch, 2x USB-C, M3, 2023)";

	aliases {
		ethernet0 = &ethernet0;
	};
};

&wifi0 {
	brcm,board-type = "apple,azores";
};

&bluetooth0 {
	brcm,board-type = "apple,azores";
};

&port01 {
	bus-range = <2 2>;
	status = "okay";
	ethernet0: ethernet@0,0 {
		reg = <0x20000 0x0 0x0 0x0 0x0>;
		/* To be filled by the loader */
		local-mac-address = [00 10 18 00 00 00];
	};
};

&pcie1_dart {
	status = "okay";
};

#include "hwmon-fan-dual.dtsi"
