// SPDX-License-Identifier: GPL-2.0+ OR MIT
/*
 * Apple MacBook Pro (14-inch, M3, 2023)
 *
 * target-type: J504
 *
 * Copyright The Asahi Linux Contributors
 */

/dts-v1/;

#include "t8122.dtsi"
#include "t8122-usbpd-i2c.dtsi"
#include "t8122-jxxx.dtsi"
#include <dt-bindings/leds/common.h>

/ {
	compatible = "apple,j504", "apple,t8122", "apple,arm-platform";
	model = "Apple MacBook Pro (14-inch, M3, 2023)";

	led-controller {
		compatible = "pwm-leds";
		led-0 {
			pwms = <&fpwm1 0 40000>;
			label = "kbd_backlight";
			function = LED_FUNCTION_KBD_BACKLIGHT;
			color = <LED_COLOR_ID_WHITE>;
			max-brightness = <255>;
			default-state = "keep";
		};
	};
};

&wifi0 {
	brcm,board-type = "apple,tresco";
};

&bluetooth0 {
	brcm,board-type = "apple,tresco";
};

&port01 {
	/* SD card reader */
	bus-range = <2 2>;
	pwren-gpios = <&smc_gpio 23 GPIO_ACTIVE_HIGH>;
	status = "okay";

	sdhci0: mmc@0,0 {
		compatible = "pci17a0,9755";
		reg = <0x20000 0x0 0x0 0x0 0x0>;
		cd-inverted;
		wp-inverted;
	};
};

&pcie1_dart {
	status = "okay";
};


&fpwm1 {
	status = "okay";
};

&mtp {
	status = "okay";
};

&mtp_mbox {
	status = "okay";
};

&mtp_dart {
	status = "okay";
};

&mtp_dockchannel {
	status = "okay";
};

&mtp_hid {
	apple,afe-reset-gpios = <&smc_gpio 8 GPIO_ACTIVE_LOW>;
	apple,stm-reset-gpios = <&smc_gpio 24 GPIO_ACTIVE_LOW>;

	multi-touch {
		firmware-name = "apple/tpmtfw-j504.bin";
	};

	keyboard: keyboard {
		hid-country-code = <0>;
		apple,keyboard-layout-id = <0>;
	};

	stm {
	};

	actuator {
	};

	tp_accel {
	};
};

/ {
	speaker_sdz: fixed-regulator-sn012776-sdz {
		compatible = "regulator-fixed";
		regulator-name = "sn012776-sdz";
		startup-delay-us = <5000>;
		gpios = <&pinctrl_ap 13 GPIO_ACTIVE_HIGH>;
		enable-active-high;
	};
};

&i2c1 {
	status = "okay";

	speaker_left_tweet: codec@3a {
		compatible = "ti,sn012776", "ti,tas2764";
		reg = <0x3a>;
		SDZ-supply = <&speaker_sdz>;
		#sound-dai-cells = <0>;
		sound-name-prefix = "Left Tweeter";
		interrupts-extended = <&pinctrl_ap 12 IRQ_TYPE_LEVEL_LOW>;
		ti,imon-slot-no = <8>;
		ti,vmon-slot-no = <10>;
	};

	speaker_left_woof1: codec@38 {
		compatible = "ti,sn012776", "ti,tas2764";
		reg = <0x38>;
		SDZ-supply = <&speaker_sdz>;
		#sound-dai-cells = <0>;
		sound-name-prefix = "Left Woofer 1";
		interrupts-extended = <&pinctrl_ap 12 IRQ_TYPE_LEVEL_LOW>;
		ti,imon-slot-no = <0>;
		ti,vmon-slot-no = <2>;
	};

	speaker_left_woof2: codec@39 {
		compatible = "ti,sn012776", "ti,tas2764";
		reg = <0x39>;
		SDZ-supply = <&speaker_sdz>;
		#sound-dai-cells = <0>;
		sound-name-prefix = "Left Woofer 2";
		interrupts-extended = <&pinctrl_ap 12 IRQ_TYPE_LEVEL_LOW>;
		ti,imon-slot-no = <16>;
		ti,vmon-slot-no = <18>;
	};

	jack_codec: codec@4b {
		compatible = "cirrus,cs42l84";
		reg = <0x4b>;
		reset-gpios = <&pinctrl_nub 17 GPIO_ACTIVE_HIGH>;
		#sound-dai-cells = <0>;
		interrupts-extended = <&pinctrl_ap 173 IRQ_TYPE_LEVEL_LOW>;
		sound-name-prefix = "Jack";
	};
};

&i2c3 {
	status = "okay";

	speaker_right_tweet: codec@3d {
		compatible = "ti,sn012776", "ti,tas2764";
		reg = <0x3d>;
		SDZ-supply = <&speaker_sdz>;
		#sound-dai-cells = <0>;
		sound-name-prefix = "Right Tweeter";
		interrupts-extended = <&pinctrl_ap 12 IRQ_TYPE_LEVEL_LOW>;
		ti,imon-slot-no = <12>;
		ti,vmon-slot-no = <14>;
	};

	speaker_right_woof1: codec@3b {
		compatible = "ti,sn012776", "ti,tas2764";
		reg = <0x3b>;
		SDZ-supply = <&speaker_sdz>;
		#sound-dai-cells = <0>;
		sound-name-prefix = "Right Woofer 1";
		interrupts-extended = <&pinctrl_ap 12 IRQ_TYPE_LEVEL_LOW>;
		ti,imon-slot-no = <4>;
		ti,vmon-slot-no = <6>;
	};

	speaker_right_woof2: codec@3c {
		compatible = "ti,sn012776", "ti,tas2764";
		reg = <0x3c>;
		SDZ-supply = <&speaker_sdz>;
		#sound-dai-cells = <0>;
		sound-name-prefix = "Right Woofer 2";
		interrupts-extended = <&pinctrl_ap 12 IRQ_TYPE_LEVEL_LOW>;
		ti,imon-slot-no = <20>;
		ti,vmon-slot-no = <22>;
	};
};

/ {
	sound: sound {
		compatible = "apple,j314-macaudio", "apple,j504-macaudio", "apple,macaudio";
		model = "MacBook Pro J504";

		dai-link@0 {
			link-name = "Speakers";
			dai-tdm-idle-mode-0 = "zero";
			dai-tdm-idle-mode-3 = "zero";
			dai-tdm-slot-tx-idle-mask-0 = <0x0f0f0f>;
			dai-tdm-slot-tx-idle-mask-3 = <0xf0f0f0>;

			cpu {
				sound-dai = <&mca 0>, <&mca 1>;
			};
			codec {
				sound-dai = <&speaker_left_woof1>,
					    <&speaker_left_tweet>,
					    <&speaker_left_woof2>,
					    <&speaker_right_woof1>,
					    <&speaker_right_tweet>,
					    <&speaker_right_woof2>;
			};
		};

		dai-link@1 {
			link-name = "Headphone Jack";

			cpu {
				sound-dai = <&mca 2>;
			};
			codec {
				sound-dai = <&jack_codec>;
			};
		};
	};
};

#include "hwmon-fan-dual.dtsi"
#include "hwmon-laptop.dtsi"
