// SPDX-License-Identifier: GPL-2.0+ OR MIT
/*
 * Apple MacBook Air (15-inch, M3, 2024)
 *
 * target-type: J615
 *
 * Copyright The Asahi Linux Contributors
 */

/dts-v1/;

#include "t8122.dtsi"
#include "t8122-jxxx.dtsi"
#include <dt-bindings/leds/common.h>

/ {
	compatible = "apple,j615", "apple,t8122", "apple,arm-platform";
	model = "Apple MacBook Air (15-inch, M3, 2024)";

	led-controller {
		compatible = "pwm-leds";
		led-0 {
			pwms = <&fpwm1 0 40000>;
			label = "kbd_backlight";
			function = LED_FUNCTION_KBD_BACKLIGHT;
			color = <LED_COLOR_ID_WHITE>;
			max-brightness = <255>;
			default-state = "keep";
		};
	};
};

&wifi0 {
	brcm,board-type = "apple,tuzla";
};

&bluetooth0 {
	brcm,board-type = "apple,tuzla";
};

/* Virtual regulator representing the shared shutdown GPIO */
/ {
	speaker_sdz: fixed-regulator-sn012776-sdz {
		compatible = "regulator-fixed";
		regulator-name = "sn012776-sdz";
		startup-delay-us = <5000>;
		gpios = <&pinctrl_ap 13 GPIO_ACTIVE_HIGH>;
		enable-active-high;
	};
};

&i2c1 {
	speaker_left_woof: codec@38 {
		compatible = "ti,sn012776", "ti,tas2764";
		reg = <0x38>;
		SDZ-supply = <&speaker_sdz>;
		#sound-dai-cells = <0>;
		sound-name-prefix = "Left Woofer";
		interrupts-extended = <&pinctrl_ap 12 IRQ_TYPE_LEVEL_LOW>;
		ti,imon-slot-no = <0>;
		ti,vmon-slot-no = <2>;
		ti,sdout-force-zero-mask = <0x0f0f>;
	};

	speaker_left_tweet: codec@39 {
		compatible = "ti,sn012776", "ti,tas2764";
		reg = <0x39>;
		SDZ-supply = <&speaker_sdz>;
		#sound-dai-cells = <0>;
		sound-name-prefix = "Left Tweeter";
		interrupts-extended = <&pinctrl_ap 12 IRQ_TYPE_LEVEL_LOW>;
		ti,imon-slot-no = <8>;
		ti,vmon-slot-no = <10>;
	};
};

&i2c3 {
	speaker_right_woof: codec@3b {
		compatible = "ti,sn012776", "ti,tas2764";
		reg = <0x3b>;
		SDZ-supply = <&speaker_sdz>;
		#sound-dai-cells = <0>;
		sound-name-prefix = "Right Woofer";
		interrupts-extended = <&pinctrl_ap 12 IRQ_TYPE_LEVEL_LOW>;
		ti,imon-slot-no = <4>;
		ti,vmon-slot-no = <6>;
		ti,sdout-force-zero-mask = <0xf0f0>;
	};

	speaker_right_tweet: codec@3c {
		compatible = "ti,sn012776", "ti,tas2764";
		reg = <0x3c>;
		SDZ-supply = <&speaker_sdz>;
		#sound-dai-cells = <0>;
		sound-name-prefix = "Right Tweeter";
		interrupts-extended = <&pinctrl_ap 12 IRQ_TYPE_LEVEL_LOW>;
		ti,imon-slot-no = <12>;
		ti,vmon-slot-no = <14>;
	};

	jack_codec: codec@4b {
		compatible = "cirrus,cs42l84";
		reg = <0x4b>;
		reset-gpios = <&pinctrl_nub 17 GPIO_ACTIVE_HIGH>;
		#sound-dai-cells = <0>;
		interrupts-extended = <&pinctrl_ap 173 IRQ_TYPE_LEVEL_LOW>;
		sound-name-prefix = "Jack";
	};
};

/ {
	sound {
		compatible = "apple,j615-macaudio", "apple,j415-macaudio", "apple,macaudio";
		model = "MacBook Air J615";

		dai-link@0 {
			link-name = "Speakers";

			cpu {
				sound-dai = <&mca 0>, <&mca 1>;
			};
			codec {
				sound-dai = <&speaker_left_woof>, <&speaker_left_tweet>,
					    <&speaker_right_woof>, <&speaker_right_tweet>;
			};
		};

		dai-link@1 {
			link-name = "Headphone Jack";

			cpu {
				sound-dai = <&mca 2>;
			};
			codec {
				sound-dai = <&jack_codec>;
			};
		};
	};
};

&fpwm1 {
	status = "okay";
};

&mtp {
	status = "okay";
};

&mtp_mbox {
	status = "okay";
};

&mtp_dart {
	status = "okay";
};

&mtp_dockchannel {
	status = "okay";
};

&mtp_hid {
	apple,afe-reset-gpios = <&smc_gpio 8 GPIO_ACTIVE_LOW>;
	apple,stm-reset-gpios = <&smc_gpio 24 GPIO_ACTIVE_LOW>;

	multi-touch {
		firmware-name = "apple/tpmtfw-j615.bin";
	};

	keyboard: keyboard {
		hid-country-code = <0>;
		apple,keyboard-layout-id = <0>;
	};

	stm {
	};

	actuator {
	};

	tp_accel {
	};
};

#include "hwmon-laptop.dtsi"
